/* src/pages/Crop-Management/cropmanagement.css */

.update-task-grid{
    display: grid;
    grid-template-rows: 1fr 5fr;
    gap: 20px;
    padding: 20px;
}

.navbar-section {
    grid-row: 1 / 2;
}
.form-section {
    grid-row: 2 / 3;
}
.form-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form-section h2 {
    text-align: center;
    color: #0b6872;
    font-size: 22px;
}

.form-section form {
    display: flex;
    flex-direction: column;
    
}

.form-section input {
    width: 400px;
    margin: 10px 0;
    color:#625f5f;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-section input:focus {
    border-color: #4caf50; /* Highlight with green */
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

.buttonT-group {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    flex: 1;
    margin: 5px;
    display: flex;
    justify-content:center;
}
.update-button{
    margin-right:10px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.update-button:hover {
    background-color:#107e29;
}
.cancelupdate-button{
    padding: 10px 15px;
    background-color: #c22216;
    color: white;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cancelupdate-button:hover {
    background-color: #1f0303;
    transform: scale(1.05);
}
