
.chart-panel-area {
 
  display:grid;
  margin-top: 20px;

 
  
}

.chart-panel {
  margin-left: 10px;
  align-items: center;
  width:fit-content;
  height:fit-content;
  padding: 10px;
  display: grid;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  grid-template-columns: 200px 200px 500px;
  white-space:initial ;
  z-index: 150;
 

}

