.grid-item grid-item-4{
       background-color:rgb(223, 204, 204);
       height: 100vh;
       
    }

    .grid-container{
      background-color: rgb(228, 239, 250);
      display:grid;
      background-color:rgb(255, 255, 255);
      grid-template-columns: 240px 700px auto;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
      grid-template-rows:100px 350px 450px auto;
      grid-column-gap:10px;
      width: 100%; 
      min-width: 100vw; 
      
    }
                                                                                                                                                                                                                                                                                                                                                                                            
    
   .irrigationgraph{
    background-color: white;
    border-radius:20px;
    margin-left: 10px;
    align-items: center;
    width:100%;
   }
   .landandalert{
    margin:0px 20px;
    padding:20px;
    background-color: white;
    border-radius:20px;
    
   }

   .image-style {
    width: 100%; 
    max-width: 500px; 
    height: 280px; 
    border-radius: 8px; 
}

marker {
  position: absolute;
  width: 30px; /* Size of the marker */
  height: 30px;
  transform: translate(-50%, -50%);
  z-index: 10;
  transition: transform 0.3s ease-in-out; /* Smooth scaling */
}

.marker:hover {
    transform: scale(1.5); /* Zoom in the marker */
}



