.dropdown-btn{
  margin-left:20;
  display:flex; 
  align-items:center;
  width: 180px;
  height:10px;
  padding:1rem;
  background-color: rgb(226, 250, 232); 
  border-radius: 0.5rem;
 
  cursor:pointer;
  color: rgba(83, 128, 140, 1);
}
  

.dropdown-button-text{
  font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgba(83, 128, 140, 1);
    padding-inline: 10px;
    margin-right:20px;
}