.dropdown-btn{
  margin-left:20;
  display:flex; 
  align-items:center;
  width: fit-content;
  height:10px;
  padding:1rem;
  background-color: rgb(14, 108, 113); 
  border-radius: 0.5rem;
 
  cursor:pointer;
  color: rgb(255, 255, 255);
}
  

.dropdown-button-text{
  font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgb(241, 241, 241);
    padding-inline: 10px;
    margin-right:20px;
}