
.sidebar {
    height: calc(100vh - 80px);
    width:272px;
    background-color: #d7fdf5;
    border-right: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:fixed;
  
    border-top: 1px solid #d9d9d9
   
  
  }
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin-left:10px;
  }
  
  .sidebar-menu li {
    padding: 15px 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: 15px;
    color: rgba(83, 128, 140, 1);
  }
  
  .sidebar-menu li:hover {
    background-color: #d3ded8;
    border-left: 4px solid rgb(23, 167, 45);
    
  }
  
  .sidebar-menu li svg {
    margin-right: 10px;
  }
  
  .sidebar-footer {
    padding: 20px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar-footer span {
    margin-left: 10px;
  }
  
  .Account-setting{
    margin-top: 40px;
  }