.sidebarA {
    width: 272px;
    background-color: #d7fdf5;
    border-right: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    display: flex;
    position: fixed;
    height: 100%;
    transition: transform 0.3s ease;
    z-index: 1000;
    transform: translateX(0); /* Sidebar visible by default */
}

.sidebarA.closed {
    transform: translateX(-108%);
}

.sidebarA.open {
    transform: translateX(0);
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
}

.sidebar-menu li {
    padding: 15px 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: rgba(83, 128, 140, 1);
}

.sidebar-menu li:hover {
    background-color: #d3ded8;
    border-left: 4px solid rgb(23, 167, 45);
}

.sidebar-menu li svg {
    margin-right: 10px;
}

.Account-setting {
    margin-top: 40px;
}

.minimize-arrow {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: rgba(83, 128, 140, 1);
}

.hamburger-container {
    display: none; 
    position: fixed;
    width: 40px;
    margin-top: 10px;
    height: 40px;
    background-color: #d7fdf5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
 
}

.hamburger-icon {
    font-size: 24px;
    color: rgba(83, 128, 140, 1);
}

/* Hide sidebar and show hamburger for small screens */
@media (max-width: 768px) {
    .sidebarA {
        transform: translateX(-108%); /* Sidebar hidden by default on small screens */
    }

    .hamburger-container {
        display: flex; /* Show hamburger menu on small screens */
    }

    .sidebarA.open {
        display: flex;
        transform: translateX(0); /* Slide the sidebar into view when opened */
    }
}
