.grid-item grid-item-4{
    background-color:rgb(255, 255, 255);
    height: 100vh;
    
 }

 .grid-container{
   display:grid;
   height:100vh;
   background-color: rgb(216, 236, 244);
   grid-template-columns: 270px 920px auto;
   grid-template-rows:72px 320px 350px auto ;
   grid-column-gap:10px;
 
 }

 .Weather-dashboard {
    grid-column: 2 / 4; 
    grid-row: 2 / 4; 
    margin: 20px;
    display:grid;
    height: fit-content;
    grid-template-columns:2fr 3fr;
    grid-template-rows: 0.8fr 1.5fr;
    border-radius: 20px;
    opacity: 100%;
    padding: 10px;
    background: linear-gradient(to bottom, #9ca5a9 0%, #2a6c82 59%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }

  .Weather-boardA{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:first baseline;
    height:230px;
    background: rgba(129, 128, 128, 0.2); 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    padding: 20px;
    margin: 10px;
  }
  .Weather-boardB{
    height:230px;
    background: rgba(129, 128, 128, 0.2); 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    padding-top: 10px;
    margin: 10px;
  }
  .Weather-boardC{
    grid-column: 1/3;
    height:fit-content;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    background: rgba(129, 128, 128, 0.2); 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    padding: 20px;
   
    margin-top: 0px;
    
  }
  .datetime {
    font-size: 13px; 
    color: #f5f2f2; 
    font-family: 'Inter', sans-serif;
    padding: 20px;
    border-radius: 5px; 
}
.City{
  font-size: 15px; 
    color: #f5f2f2; 
    font-family: 'Inter', sans-serif;
    padding: 20px;
    border-radius: 5px; 
}
.datetimespan{
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;

}

.Weatheremojibig{
    display:flex;
    justify-content: center;
    align-items: center;
}
  .weatheremoji{
    height:150px;
    width:150px;
  }

  .weatherdata{
    font-size: 15px; 
    color: #f5f2f2; /* Text color */
    font-family: 'Inter', sans-serif;
    padding: 20px;
    border-radius: 5px; 
  }


  @media (max-width: 1000px){
    .datetime {
        font-size: 10px; }
    .Weather-dashboard{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 3fr;
      height: fit-content;
      
    }
  }
  @media (max-width: 800px){
    .datetime {
        font-size: 10px; }
    .Weather-dashboard{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 3fr;
      height: fit-content;
      
    }
  }