.weather-panel-area{
  align-items: center;
  width:450px;
  height:200px;
  margin: 20px;
  padding: 10px;
  display: grid;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  white-space:initial ;
  z-index: 150;
}